.banner{
    align-items: center;
    display: flex;
}

.right_img,
.main_content{
    width: 50%;
}

.main_content h1{
    font-size: 50px;
}

.main_content p{
    font-size: 20px;
}

button{
     padding: 10px 20px;
  font-size: 16px;
  color: #007BFF;
  background-color: transparent;
  border: 2px solid #007BFF;
  border-radius: 5px;
}